@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Prata&family=Roboto:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}

[class*=__container] {
  max-width: 85.6515373353%;
  margin: 0px auto;
}

@media (min-width: 1601px) {
  [class*=__container] {
    max-width: 1370px;
    margin: 0px auto;
  }
}
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

.catalog-button {
  width: 205px;
  height: 64px;
  color: #fff;
  background-color: #444240;
  transition: background-color 100ms ease 0s;
}

.catalog-button:hover {
  background-color: #D4B098;
}

.catalog-button:active {
  box-shadow: inset 0px 0px 4px 2px #8B8371;
}

.dash {
  display: inline-block;
  border-bottom: 1px solid #8B8371;
  height: 0px;
}

.dash_long {
  width: 50px;
}

.dash_short {
  width: 30px;
}

.footer {
  z-index: 50;
  background-color: #444240;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #FDFDFB;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 85px;
}
.header__logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.14em;
}
.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header__menu {
  flex: 1 1 auto;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  color: #555248;
}
.header__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 99px;
}

.logo__text {
  margin-left: 3px;
  color: #555248;
}

.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7%;
}
.menu__item:hover {
  text-decoration: underline;
}

.buttons__facility {
  transition: filter 200ms ease;
}
.buttons__facility:nth-of-type(2) {
  margin-right: -6px;
}
.buttons__facility:hover {
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.4));
}

.facility__link {
  display: flex;
  justify-content: space-around;
}
.facility__message {
  margin-left: -7px;
  margin-top: -4px;
  font-size: 8px;
  line-height: 1.5;
  text-align: center;
  vertical-align: center;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #E6C8B4;
}
.facility:hover {
  cursor: pointer;
}

.icon-menu-close,
.icon-menu {
  display: none;
}

@media (max-width: 767.98px) {
  .header__container {
    max-width: 90%;
  }
}
@media (max-width: 649px) {
  .header__container {
    min-height: 60px;
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -110%;
    width: 100%;
    height: 225px;
    background-color: #FDFDFB;
    padding: 10px 15px 15px 15px;
    margin-top: 60px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 4px 3px -2px rgba(0, 0, 0, 0.2);
    transition: left 300ms ease 0ms;
    overflow: auto;
  }
  .header:target .menu__body {
    left: 0;
  }
  .header:target .icon-menu {
    display: none;
  }
  .header:target .icon-menu-close {
    display: flex;
  }
  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 20px;
  }
  .menu__item {
    margin: 0 0 30px 0;
  }
  .menu__item:last-child {
    margin-bottom: 0;
  }
  .icon-menu-close,
  .icon-menu {
    position: relative;
    flex: 0 0 25px;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .icon-menu::before, .icon-menu::after {
    content: "";
    background-color: #1B1A17;
    height: 2px;
  }
  .icon-menu span {
    height: 2px;
    background-color: #1B1A17;
  }
  .icon-menu-close {
    display: none;
  }
  .icon-menu-close::before, .icon-menu-close::after {
    content: "";
    background-color: #1B1A17;
    height: 2px;
  }
  .icon-menu-close::before {
    transform: translateY(7px) rotate(30deg);
  }
  .icon-menu-close::after {
    transform: translateY(-7px) rotate(-30deg);
  }
  .header__buttons {
    flex: 1 1 80%;
  }
  .header__container {
    gap: 5%;
  }
}
.landing {
  padding: 85px 0 0 0;
  background-color: #FDFDFB;
}
.landing__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
}

.text-block {
  z-index: 2;
  display: flex;
  flex-direction: column;
  color: #1B1A17;
  gap: 30px;
  padding: 0 0 0 80px;
}
.text-block__title {
  font-family: "Playfair Display", serif;
  font-style: normal;
  line-height: 60px;
  font-weight: 400;
  font-size: 4.5em;
}
.text-block__title > .dash {
  position: relative;
  margin-right: 8px;
  margin-bottom: 16px;
  margin-left: -58px;
}
.text-block__description {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3em;
  line-height: 40px;
  margin-top: -25px;
}
.text-block__text {
  z-index: 50;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4em;
  line-height: 21px;
  width: 258px;
}
.watch {
  z-index: 1;
  display: flex;
  font-family: "Prata", serif;
  font-style: normal;
  font-weight: 400;
  margin-right: 18px;
}
.watch__price {
  font-size: 1.6em;
  z-index: 2;
  flex: 1 1 0;
  align-self: flex-start;
  margin-top: 138px;
  margin-right: -6px;
}
.watch .ruble {
  height: 0.8em;
}
.watch__price > .dash {
  position: relative;
  margin-left: 15px;
  margin-bottom: 5px;
}
.watch__image {
  padding-top: 9px;
  background: url(/resources/landing/Ellipse-cut.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 36.5%;
  margin-left: -36.5%;
  max-width: 100%;
}
.watch__info {
  font-size: 1.6em;
  z-index: 2;
  align-self: flex-end;
  margin-bottom: 116px;
  margin-left: -47px;
}
.watch__info > .dash {
  position: relative;
  margin-right: 15px;
  margin-bottom: 5px;
}

@media (max-width: 1294px) {
  .text-block {
    padding: 0 0 0 30px;
  }
  .text-block__title > .dash {
    width: 20px;
    margin-left: -28px;
  }
  .watch__info > .dash, .watch__price > .dash {
    width: 20px;
  }
  .watch__price > .dash {
    margin-left: 8px;
  }
  .watch__info > .dash {
    margin-right: 8px;
  }
}
@media (max-width: 1140px) {
  .landing__container {
    font-size: 7px;
  }
  .text-block__title > .dash {
    margin-bottom: 12px;
  }
  .text-block__text {
    font-size: 1.6em;
  }
  .watch__price {
    margin-top: 80px;
    margin-right: -40px;
    font-size: 1.8em;
  }
  .watch__info {
    margin-bottom: 80px;
    font-size: 1.8em;
  }
}
@media (max-width: 767.98px) {
  .watch {
    justify-content: flex-end;
  }
  .watch__info, .watch__price {
    display: none;
  }
}
@media (max-width: 649px) {
  .landing {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .landing__container {
    font-size: 10px;
    justify-content: center;
    align-items: center;
  }
  .text-block {
    margin-left: 16px;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  .text-block__title > .dash {
    width: 50px;
  }
  .text-block__text {
    font-size: 1.8em;
    text-align: center;
  }
  .watch {
    position: relative;
    filter: opacity(0.1);
    height: 100vh;
    right: -60%;
  }
  .watch__image {
    position: absolute;
    max-width: none;
  }
}
@media (max-width: 520px) {
  .landing__container {
    font-size: 8px;
  }
  .text-block__title > .dash {
    margin-bottom: 12px;
    width: 20px;
  }
  .text-block__text {
    font-size: 2em;
    max-width: 100%;
    text-align: center;
  }
}
@media (max-width: 374.98px) {
  .landing__container {
    font-size: 6px;
  }
  .text-block__title > .dash {
    display: none;
  }
  .text-block__text {
    font-size: 2.2em;
    max-width: 80%;
    text-align: center;
  }
}