@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Prata&family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Prata&family=Roboto:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
}

[class*=__container] {
  max-width: 85.6515373353%;
  margin: 0px auto;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #FDFDFB;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 85px;
}
.header__logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.14em;
}
.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header__menu {
  flex: 1 1 auto;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  color: #555248;
}
.header__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 99px;
}

.logo__text {
  margin-left: 3px;
  color: #555248;
}

.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7%;
}
.menu__link:hover {
  text-decoration: underline;
}

.buttons__facility {
  transition: filter 200ms ease-in;
}
.buttons__facility:hover {
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
}

.facility__message {
  width: 13px;
  height: 13px;
  border-radius: 50%;
}
.facility:hover {
  cursor: pointer;
}

@media (max-width: 767.98px) {
  .header__container {
    max-width: 90%;
  }
}