@import "_reset";
@import "_commons";

html {
    font-size: 10px;
}

body {
    font-family: $main-sans-serif;
    background-color: $bg-color;
}

[class*="__container"] {
    max-width: calc(1170 / 1366 * 100%);
    margin: 0px auto;
}

@media (min-width: 1601px) {
    [class*="__container"] {
        max-width: 1370px;
        margin: 0px auto;
    }
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
}

.section-title {
}

.section-text {
}
.catalog-button {
    width: 205px;
    height: 64px;
    color: $bg-color;
    background-color: $button-and-footer;
    transition: background-color 100ms ease 0s;
}

.catalog-button:hover {
    background-color: $button-active;
}

.catalog-button:active {
    box-shadow: inset 0px 0px 4px 2px $dash;
}

.dash {
    display: inline-block;
    border-bottom: 1px solid $dash;
    height: 0px;
}

.dash_long {
    width: 50px;
}

.dash_short {
    width: 30px;
}

.footer {
    z-index: 50;
    background-color: $button-and-footer;
}

@import "_header";
@import "_landing";
